<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992371262733-7bekqn83iu5k3q9cmhhqkpur2450ko75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992371262733-7bekqn83iu5k3q9cmhhqkpur2450ko75</string>
	<key>API_KEY</key>
	<string>AIzaSyActqHQvJRsHs6LRSY-fFjJJjMoC_tVM9A</string>
	<key>GCM_SENDER_ID</key>
	<string>992371262733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timo</string>
	<key>PROJECT_ID</key>
	<string>timo-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>timo-app-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992371262733:ios:e8b25cfe3317818ea49c44</string>
</dict>
</plist>